@{
    ViewBag.Title = "Phillip Bailey";
    ViewBag.Message = "About";
}

<div class="content-wrapper">
    <hgroup class="title">
        <div>
            <div style="float: left;">
                <h1>@ViewBag.Title</h1>
            </div>
            <div style="float: right;">
                <h2>@ViewBag.Message</h2>
            </div>
        </div>
    </hgroup>
    <p>
    </p>
</div>

<div style="background-color: #000; width: 100%; color: #fff; clear: both;">
    <br />
    <div>
        I am currently a striving Environment Artist at Id Software.
    </div>
    <br />
    <div>
        I started as a young fellow, with purple crayon on the walls inside my bedroom closet.
        Thankfully, my mother's method of discpline consisted of helping me wash the walls and
        starting over on a big chief tablet. Over the years I found myself working hard, motivated
        and ambitous to graduate from the Art Institute of Dallas with a Bachelors degree in December 2009.
        Shortly after graduating, I was hired on at Id Software as an environment texture artist.
    </div>
    <br />
    <div>
        As a texture artist, I worked with the highlight feature of IdTech 5 to polish, detail and re-organize
        texture and light compostion. I had the wonderful honor of training, learning from and working closely 
        with a team of artists to breathe a bit of life in to the environments of Rage. After the release of
        Rage, I continued these practices for Rage's DLC package. While working on DLC, I even got the opportunity
        to light my own environments as well as create mapobjects and terrain assets.
    </div>
    <br />
    <div>
        This website is a sample of my portflio. Enjoy!
    </div>
</div>
