@{
    ViewBag.Title = "Phillip Bailey";
    ViewBag.Message = "Resume";
}

<div class="content-wrapper">
    <hgroup class="title">
        <div>
            <div style="float: left;">
                <h1>@ViewBag.Title</h1>
            </div>
            <div style="float: right;">
                <h2>@ViewBag.Message</h2>
            </div>
        </div>
    </hgroup>
    <p>
    </p>
</div>

<div style="background-color: #000; width: 100%; color: #fff; clear: both;">
    <div style="float: right; color: #fff !important;">
        <b>@Html.ActionLink("pdf", "DownloadResume", "Home")</b>
    </div>
    <br />
    <span>bphillip85@yahoo.com
        <br />
        902 S Medalist Cir.
        <br />
        Plano, TX 75023
    </span>
    <section class="contact">
        <header>
            <h3>Professional objective:</h3>
        </header>
        <p>
            To pursue a responsible and challenging position in the game industry as a 3d modeler and 
            texture artist.
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>Education:</h3>
        </header>
        <p>
            The Art Institute of Dallas, Dallas, TX<br />
            Bachelor of Fine Arts in Media Arts and Animation 
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>Software:</h3>
        </header>
        <p>
            Modo; 3d Studio Max; Zbrush; 3d Coat; World Machine; Photoshop; Crazy Bump; Id Tech 5 
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>Employment History:</h3>
        </header>
        <p>
            Id Software Jan 2010 - Present
        </p>
        <header>
            <h5>Environment Artist for unannouced and Wolfenstein</h5>
            <span>July 2012 - Present</span>
        </header>
        <p>
            <b>Wolfenstein.</b>
            <br />
            Travel offsite and train Machine Games' Environment Artists in Sweden to use Id Tech 5's 
            Megatexture editor stamping.
            <br />
            Assist Machine Games locally in providing hardsuface props, terrain assets, world building and 
            lighting.
            <br />
            <b>Unannounced.</b>
            <br />
            Terrain asset creation and texture.
            <br />
            Hardsurface asset creation and texture.
            <br />
            World building and lighting.
        </p>
        <header>
            <h5>Megatexture Artist and Environment Artist for the Rage DLC team</h5>
            <span>Sep 2011 - June 2012</span>
        </header>
        <p>
            Polish Rage DLC environments.
            <br />
            Terrain asset creation and texture.<br />
            Hardsurface asset creation and texture.
            <br />
            World building and lighting.
        </p>
        <header>
            <h5>Lead Megatexture Artist for the Rage team</h5>
            <span>Jan 2010 - Oct 2011</span>
        </header>
        <p>
            Lead, art direct, task and train a team of 5 wonderful artists in Id Tech 5's highlight key feature the 
            Megatexture editor.
            <br />
            Polish a huge majority of Rage's single player environments;
            <br />
            Polish includes; adding insane amounts of environment texture detail, reorganizing scene's light 
            compostion and foliage application.
            <br />
            Collaborate with Senior Environment Artists and Designers to visually enhance scene 
            compostion, game play and player paths.
            <br />
            Work along side the tools team programmers in collaborative efforts to develope tools and 
            pipeline for Idtech 5.
        </p>
    </section>
</div>
